
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', sans-serif;
    @apply antialiased text-slate-900 bg-gray-50 dark:bg-slate-950 dark:text-slate-50;
  }

  /* Исправление рендеринга шрифтов для Safari/Chrome */
  * {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight font-bold text-slate-900 dark:text-white;
  }
}

@layer components {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
